/* .card-grid {
  display: flex;
  border: 2px solid brown;
  background-color: olive; */
/* } */
.card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* flex-wrap: wrap; */
  position: relative;
  /* justify-content: space-between; */
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}
.card_title{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 15px;
  border: 2px solid rgb(208, 226, 158);
  border-radius: 5px;
  background-color: rgb(235, 236, 229);
  box-shadow: -5px 5px rgb(205, 221, 156);
  padding: 15px 15px 15px 15px;

  
  
  
}
.card-text{
  font-weight:bold;
  font-size: 20px;
  margin-bottom: 25px;
  border: 2px solid rgb(208, 226, 158);
  border-radius: 5px;
  background-color: rgb(235, 236, 229);
  box-shadow: -5px 5px rgb(205, 221, 156);
  padding: 15px 5px 15px 15px;
 
 
  
}
.visit-card{
  width: 310px;
  margin-top: 50px;
  border: 2px solid rgb(208, 226, 158);
  background-color: rgb(222, 226, 197);
  border-radius: 10px;
  padding: 40px 20px 40px 20px;

}
.card-delete{
   background-color: rgb(238, 78, 78);
   color: white;
   border: 1px solid rgb(231, 101, 101);
   border-radius: 7px;
   padding: 10px 30px 10px 30px;
   margin-left: 10px;
   cursor: pointer;
   box-shadow:
  inset rgba(0,0,0,.6) 0 -3px 8px,
  inset rgba(252,255,255,.7) 0 3px 8px,
  rgba(0,0,0,.8) 0 3px 8px -3px;
}
.card-delete:hover{
transform: scale(1.2);
}
.card-more{
  width: 100px;
  background-color: rgb(101, 136, 101);
  color: white;
  border-radius: 7px;
  border: 1px solid rgb(101, 136, 101);
  padding: 10px 30px 10px 30px;
  margin-left: 90px;
  cursor: pointer;
  box-shadow:
  inset rgba(0,0,0,.6) 0 -3px 8px,
  inset rgba(252,255,255,.7) 0 3px 8px,
  rgba(0,0,0,.8) 0 3px 8px -3px;
}
.card-more:hover{
  transform: scale(1.2);
}

/* .card-list,
.card-details {
  border: 2px dashed red;
  width: 100%;
  font-weight: bold;
} */




