.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.edit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid rgb(208, 226, 158);
  background-color: rgb(222, 226, 197);
  display: flex;
  row-gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.close-modal_button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgb(238, 78, 78);
  color: white;
  border: 1px solid rgb(231, 101, 101);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
    inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
}

.inputsWrapperFirst {
  display: none;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.inputsWrapperSecond {
  display: none;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.inputsWrapperThird {
  display: none;
  grid-template-columns: 1fr;
  row-gap: 5px;
}

.more-info {
  display: none;
}
