.modal-wrapper {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	display: none;
	align-items: center;
	justify-content: center;
	
	background-color: rgba(0,0,0,0.4);
}

.modal {
	width: 45%;
	padding: 20px 40px 40px;
	display: flex;
	flex-direction: column;
	border-radius: 15px;
	background-color: #fff;
}

.modal-close {
	cursor: pointer;
	align-self: flex-end;
	font-size: 20px;
	color: darkred;
	background-color: transparent;
	border: none;
	outline: none;
}

.modal-text {
	font-size: 18px;
	color: #333333;
}