.container{
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    background-color: rgb(13, 34, 21);
    color: rgb(222, 226, 197);;
  
}
.contact-wrapper{
    margin-bottom: 10px;
    
}
.contact-logo{
    width: 30px;
    height: 30px;
}