.hero {
  display: flex;
  justify-content: space-between;
  background-color: rgb(13, 34, 21);
 
}

.hero-title {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}

.hero-button {
  border: 2px solid rgb(101, 136, 101);
  background-color: rgb(101, 136, 101);
  color: white;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
    inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
}
.hero-button:hover {
  transform: scale(1.2);
}
.search {
    border-color:  rgb(106, 139, 106);
    padding: 0px 10px;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  width: 250px;
  height: 35px;
  cursor: pointer;
}
.inputs {
  text-align: center;
  margin-top: 20px;
  
}
.search-button {
  border-radius: 20px;
  margin-left: 10px;
  color: white;
  background-color: rgb(101, 136, 101);
  border: 2px solid rgb(101, 136, 101);
  box-shadow:
  inset rgba(0,0,0,.6) 0 -3px 8px,
  inset rgba(252,255,255,.7) 0 3px 8px,
  rgba(0,0,0,.8) 0 3px 8px -3px;
  outline: none;
  font-size: 20px;
  width: 150px;
  height: 43px;
  cursor: pointer;
}
.search-button:hover{
    transform: scale(1.1);
  }
.filter-status {
  border-radius: 20px;
  border-color:  rgb(106, 139, 106);
  outline: none;
  font-size: 20px;
  width: 150px;
  height: 40px;
  padding: 0px 10px;
  cursor: pointer;
}
.filter-hurry {
  border-radius: 20px;
  border-color:  rgb(106, 139, 106);
  outline: none;
  font-size: 20px;
  width: 150px;
  height: 40px;
  padding: 0px 10px;
  cursor: pointer;
}
