
.root{
    position: relative;
}

.modal__background{
    z-index: 1;
    width: 100%;
    height: 550px;
    background-color: rgba(0,0,0,0.6);
    padding-top: 100px;
}


.modal{
    width: 220px;
    height: 200px;
    background-color: pink;
    margin: 0 auto;
    border-radius: 5px;
}

.modal__content{
    padding: 30px 40px;
}

.modal__btn{
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 18px;
    margin-right: 10px;
    cursor: pointer;
}


.btnX{
    width: 20px;
    height: 20px;
    border: none;
    background-color: deeppink;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: 88%;
    margin-top: 7px;
}

.inputPassword{
    margin-top: 3px;
    margin-bottom: 15px;
}

.buttonSubmit{
    padding: 10px;
}